<h1>Wash for: <%= Board.find_by(id: params[:board]).name %></h1>
  <table class="table">
      <th style="width: 112px;">Completed At</th>
      <th style="width: 144px;">Completed By</th>
      <th>Assignment</th>
    <tbody>
      <% @washes.reverse_each do |wash| %>
      <tr>
        <td style="text-align: left;">
          <span class="badge">
            <%= wash.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%m-%d-%y at %I:%M %p") %>
          </span>
        </td>
        <td style="text-align: left;"><%= User.find_by(id: wash.completed_by).name %></td>
        <td><%= wash.title %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<br>