<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="about-modal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">About Stock Watcher</h4>
        </div>
        <div class="modal-body">
          <p>
              Collaboration Boards is a prototype of an organizational board system to help people keep organized and know what needs to be done and what has the highest priority.
              <ul>
              	<li>Boards for different Groups</li>
              	<li>Badges showing number of assignments in each group</li>
              	<li>Color coded assignments based on priority</li>
              	<li>Ability to add/update/complete assignments</li>
              </ul>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>